.nav{ 
  display: flex;
  justify-content: center; 
}

.button {
    margin: 20px;
    padding: 10px;
    background-color: transparent;
    cursor: pointer
}
.button:hover {
    background-color:yellow;
    color: black;
}